class Contact:
    def __init__(self, name, phone, email):
        self.name = name
        self.phone = phone
        self.email = email
        


class ContactBook:
    def __init__(self):
        self.filename = "contacts.txt"  
        self.contacts = []    
        self.load_contacts() 

    def load_contacts(self):
        try:
            with open(self.filename, "r") as file:   
                for line in file:     
                    data = line.strip().split("|")  

   
                    if len(data) == 3:
                        contact = Contact(data[0], data[1], data[2])
                        self.contacts.append(contact) 

        except FileNotFoundError:
            open(self.filename, "w").close() 


    def save_contacts(self):
        try:
            with open(self.filename, "w") as file:
                for contact in self.contacts:
                    file.write(
                        f"{contact.name}|{contact.phone}|{contact.email}\n"
                    )

        except OSError:
            print("Error: Unable to save contacts.")

    def add_contact(self):
        try:
            name = input("Enter name: ").strip()
            phone = input("Enter phone number: ").strip()
            email = input("Enter email: ").strip()

            if not name or not phone or not email:
                raise ValueError("All fields are required.")

            if not phone.isdigit():  
                raise ValueError("Phone number must contain digits only.")

            for contact in self.contacts:
                if contact.phone == phone:
                    raise ValueError("Phone number already exists.")

            contact = Contact(name, phone, email)
            self.contacts.append(contact)
            self.save_contacts()

            print("Contact added successfully.")

        except ValueError as e:
            print(f"Error: {e}")

    def view_contacts(self):
        if not self.contacts:
            print("No contacts found.")
            return

        print("\n===== CONTACTS =====")

        for contact in self.contacts:
            print(f"Name: {contact.name}")
            print(f"Phone: {contact.phone}")
            print(f"Email: {contact.email}")
            print("--------------------")

    def search_contact(self):
        try:
            name = input("Enter name to search: ").strip()

            if not name:
                raise ValueError("Name cannot be empty.")

            found = False

            for contact in self.contacts:
                if name.lower() in contact.name.lower():
                    print(f"\nName: {contact.name}")
                    print(f"Phone: {contact.phone}")
                    print(f"Email: {contact.email}")
                    found = True

            if not found:
                print("Contact not found.")

        except ValueError as e:
            print(f"Error: {e}")

    def delete_contact(self):
        try:
            phone = input("Enter phone number to delete: ").strip()

            if not phone.isdigit():
                raise ValueError("Invalid phone number.")

            for contact in self.contacts:
                if contact.phone == phone:
                    self.contacts.remove(contact)
                    self.save_contacts()
                    print("Contact deleted successfully.")
                    return

            raise ValueError("Contact not found.")

        except ValueError as e:
            print(f"Error: {e}")

    def run(self):
        while True:
            print("\n===== CONTACT BOOK =====")
            print("1. Add Contact")
            print("2. View Contacts")
            print("3. Search Contact")
            print("4. Delete Contact")
            print("5. Exit")

            try:
                choice = int(input("Enter your choice: "))

                if choice == 1:
                    self.add_contact()

                elif choice == 2:
                    self.view_contacts()

                elif choice == 3:
                    self.search_contact()

                elif choice == 4:
                    self.delete_contact()

                elif choice == 5:
                    print("Thank you for using Contact Book.")
                    break

                else:
                    print("Enter a number between 1 and 5.")

            except ValueError:
                print("Invalid input. Please enter a number.")


contact_book = ContactBook()
contact_book.run()
